doctype html
html(lang='en')
  head
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title ProxyMate
    link(rel='stylesheet' href='/style.css')
    script(src='/app.js')
  body
    header
      h1 ProxyMate
    main
      p A little NodeJS proxy server / manager
    footer
      p © 2017 bjjb
